/**
 * author：wesley;
 */
.navbar-custom{
  margin-bottom:0;
  .subscribe {
    position: relative;
    margin-top: 10px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid $base;
    z-index: 10;
    .btn {
      padding: 5px 15px;
    }
  }
}
.btn{
  outline:none!important;
  &:focus,&:active,&:visited,&:hover{
    outline:none;
  }
}
/**
footer
*/
$footer-height:282px;
.footer-space {
  height: $footer-height;
  width: 100%;
}
.footer {
  margin-top: -$footer-height;
  a {
    color: #dbdbdb;
    &:hover, &:focus {
      color: #fff;
    }
  }
}
.footer-content {
  padding: 15px 0;
  background-color: #222222;
  color: #dbdbdb;
  h2 {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info-desc {
    line-height: 32px;
  }
  .hot-tag a {
    padding: 1px 6px;
    background: #333333;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
    border-radius: 2px;
    &:hover {
      padding: 1px 6px;
      background: #fff;
      color: #333333;
      text-decoration: none;
    }
    &:before{
      content:''
    }
  }
  .book-hot li {
    margin: 3px 0;
    padding: 3px 0;
    &:hover {
      background: #333333;
    }
    a {
      display: block;
      padding-left: 5px;
      border-left: 3px solid #333333;
      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.footer-info {
  background: #1a1a1a;
  color: #dbdbdb;
  line-height: 45px;
  p {
    min-height: 45px;
    line-height: 45px;
    margin: 0;
    display: inline-block;
  }
  span {
    padding: 8px;
  }
}
.top-show {
  color: #fff;
  line-height: 50px;
  .container {
    padding-top: 110px;
    padding-bottom: 70px;
    min-height: 350px;
  }
  h1 {
    font-size: 38px;
    font-weight: 200;
  }
  p {
    font-size: 20px;
    color: #eee;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  }
  a:hover,a:focus {
    text-decoration: none;
  }
}
.color-front {
  margin-top: -70px;
  background: #1fa67a url(../assets/images/front-top.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.color-explorer {
  margin-top: -70px;
  background: #1fa67a url(../assets/images/padded-light.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.color-blog {
  margin-top: -70px;
  background: #2B628A url(../assets/images/brick-wall.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.color-sub {
  margin-top: -70px;
  background: #1fa67a url(../assets/images/batthern.png);
  animation: animatedBackground 20s infinite alternate;
  -moz-animation: animatedBackground 20s infinite alternate;
  -webkit-animation: animatedBackground 20s infinite alternate;
  -o-animation: animatedBackground 20s infinite alternate;
}
.section-front{
  padding: 30px 0 50px 0;
  p{
    font-size:16px;
  }
  .fa{
    display: inline-block;
  }
}
.intro{
  line-height:32px;
  h4{
    font-size:20px;
  }
  p{
    color: $text-gray;
  }
  .fa{
    font-size:50px;
    margin:15px auto;
    color: $text-gray;
  }
}
.front-79px{
  h2{
    margin-bottom:32px;
  }
  h4{
    margin-top:0;
  }
  .fa{
    font-size: 32px;
    min-width:70px;
    margin-right: 10px;
    padding: 15px 10px;
    text-align: center;
    background: #eee;
    border-radius: 5px;
    color: $text-gray;
  }
  .media{
    margin-bottom:25px;
  }
}
.front-recent{
  background:#fff;
  border-top: 1px dashed #dbdbdb;
  border-bottom: 1px dashed #dbdbdb;
  h2{
    margin-bottom:25px;
  }
}
.front-do-it{
  background:#fff;
  border-top: 1px dashed #dbdbdb;
  .btn{
    margin-top:15px;
    min-width:150px;
  }
}
