html {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  height: 100%;
  font-family: microsoft yahei, sans-serif, arial;
}
blockquote{
  padding: 10px 15px;
  margin: 0 0 10px;
  font-size: 14px;
  border: 1px dashed #CCC;
  border-left: 5px solid #eee;
  background: #F5F5F5;
}
a{
  &.disabled{
    color: $text-gray!important;
    cursor: default;
    &:hover{
      text-decoration: none;
    }
  }
}
.clear-a{
  text-decoration: none;
  &:active,&:focus,&:visited,&:hover{
    text-decoration: none;
  }
}
.icon-location {
  margin-right: 5px;
}

.page-content {
  min-height: 100%;
}

.no-footer {
  .footer-space {
    height: 0;
  }
}

.btn:focus {
  outline: none;
}

.site-msg{
  position: fixed;
  top: 50px;
  right:50px;
  width:100%;
  max-width:320px;
  z-index: 1030;
  .alert{
    box-shadow: 3px 3px 30px #333;
  }
}
.text-base{
  color: $base;
}
.tool-bar{
  position: fixed;
  bottom:50px;
  right:50px;
  .back-to-top{
    background: #666;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    display: block;
    text-decoration: none;
  }
}
.book {
  position: relative;
  max-width: 200px;
  height: 280px;
  display: block;
  margin: 20px auto;
  .book-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0px 2px 4px #999;
    border-bottom-right-radius: 2px;
    z-index: 1;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-left: 10px solid #000000;
      opacity: 0.2;
    }
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #999 url('../assets/images/book_cover/default.jpg') top center no-repeat;
      background-size: cover;
      z-index: -1;
      transform: scale(1,1);
      transition: transform 1s;
      -moz-transition: transform 1s;
      -webkit-transition: transform 1s;
      -o-transition: transform 1s;
    }
    &:hover:after{
      transform: scale(1.1,1.1);
      -ms-transform: scale(1.2,1.2);
      -moz-transform: scale(1.2,1.2);
      -webkit-transform: scale(1.2,1.2);
      -o-transform: scale(1.2,1.2);
    }
  }
  .title-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 55px 25px 0;
    text-align: center;
    overflow: hidden;
  }
  .title {
    font-size: 1.2em;
    text-shadow: 3px 3px 5px #222;
    color: $bg;
    background: rgba(0, 0, 0, 0.48);
  }
  .subtitle {
    font-size: .8em;
    margin-top: 10px;
    color: $bg;
    text-shadow: 2px 1px 1px #222;
  }
  .author-read {
    position: absolute;
    left:0;
    bottom: 5px;
    width: 100%;
    padding:0 12px;
    color: $bg;
    text-shadow: 2px 1px 1px #222;
    z-index: 10;
    a{
      color: #fff;
    }
  }
  .top-right {
    background-color: #EEEEEE;
    position: absolute;

  }
  .book-top {
    border-left: 5px solid #ccc;
    border-top: 2px solid #ccc;
    box-shadow: 1px 0px 3px #999;
    height: 10px;
    left: 5px;
    top: -10px;
    width: 100%;
    transform: skew(-45deg, 0deg);
    -ms-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
  }
  .book-right {
    border-bottom: 1px solid #DDDDDD;
    border-right: 2px solid #ccc;
    box-shadow: 1px 0px 1px #999;
    height: 100%;
    right: -10px;
    top: -4px;
    width: 11px;
    transform: skew(0deg, -45deg);
    -ms-transform: skew(0deg, -45deg);
    -webkit-transform: skew(0deg, -45deg);
  }
  @mixin bookCover($n) {
    .book-cover#{$n} {
      &:after{
        background-image: url("../assets/images/book_cover/#{$n}.jpg");
      }
    }
  }

  @include bookCover(1);
  @include bookCover(2);
  @include bookCover(3);
  @include bookCover(4);
  @include bookCover(5);
  @include bookCover(6);
  @include bookCover(7);
  @include bookCover(8);
  @include bookCover(9);
  @include bookCover(9);
  @include bookCover(10);
  @include bookCover(11);
  @include bookCover(12);
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 0%;
  }
}

@-moz-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 0%;
  }
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 0%;
  }
}

@-o-keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30% 0%;
  }
}
