@import "var";
@import "materialize";
@import "common";
body{
  font-family: "Microsoft YaHei UI";
}
.section-space {
  width: 100%;
  height: 20px;
}
.nav-left{
  margin-left: 7rem;
}
.nav-transparent {
  background: transparent;
  border-bottom: none;
  box-shadow: none;
  width:100%;
  z-index: 999;
  ul a{
    color: #fff;
    &:hover{
      background-color:transparent;
      text-shadow: 3px 3px 15px #333;
    }
  }
  .brand-logo{
    color: #fff;
  }
}

.front{
  margin-top: -$navbar-height;
  .section-top {
    height: 43vh;
    width: 100%;
    padding-top: $navbar-height;
    background: url("/static/images/top-bg.jpg") 50% center no-repeat;
    text-align: center;
    color: #fff;
    .container{
      padding-top: 8vh;
    }
  }
  .section-front{
    padding: 2rem 0;
  }
  .front-79px{
    h2{
      margin-bottom:32px;
    }
    h4{
      margin-top:0;
    }
    .box-icon{
      width:100%;
      height: 100%;
      font-size: 1.5rem;
      padding: 15px 10px;
      background: #eee;
      color: $text-gray;
      border-radius: 5px;
      text-align: center;
    }
    .media{
      margin-bottom:25px;
    }
  }
  .front-recent{
    background: url("/static/images/dust_scratches.png") top center repeat;
  }
  .front-do-it{
    background: #fafafa url("/static/images/blizzard.png") top center repeat;
  }
}

.footer {
  background-color: #333;
  color: #999;
  .row{
    margin-bottom: 0;
  }
  a {
    color: #999;
    &:hover, &:focus {
      color: #999;
    }
  }

  .footer-content {
    padding: 3rem 0 2rem;
    h2 {
      font-size: 20px;
      font-weight: 200;
      line-height: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      span{
        font-weight: 600;
        margin-right: 0.3rem;
      }
    }
    .info-desc {
      line-height: 2.3rem;
    }
    .hot-tag {
      li{
        display: inline-block;
      }
      a {
        padding: 1px 6px;
        background: #333333;
        margin-bottom: 10px;
        display: block;
        border-radius: 2px;
        &:hover {
          background: #fff;
          color: #333333;
        }
        &:before{
          content:''
        }
      }
    }
    .book-hot li {
      margin: 3px 0;
      padding: 3px 0;
      &:hover {
        background: #333333;
      }
      a {
        display: block;
        padding-left: 5px;
        border-left: 3px solid #333333;
        &:hover, &:focus {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .footer-info {
    font-size: 12px;
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #353535;
    p {
      min-height: 45px;
      line-height: 45px;
      margin: 0;
      display: inline-block;
    }
    span {
      padding: 8px;
    }
  }
}
.book-detail{
  .book-title{
    padding: 5rem 0;
    position: relative;
    background: #fafafa url("/static/images/handmade-paper.png") top center repeat;
  }
  .book-item-list{
    line-height: 3rem;
    margin-top: 2rem;
    border-right: 1px dashed #dbdbdb;
    a{
      color: #333;
      display: block;
    }
  }
  .book-info-list{
    line-height: 3rem;
    margin-top: 2rem;
    p{
      margin: 0;
      line-height: 2rem;
    }
    .text-intro{
      font-weight: 600;
    }
  }
  .book-intro{
    .title{
      font-size: 1.2rem;
    }
  }
}

.book-page{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  .book-page-container{
    display: flex;
  }
  .section-summary-bg{
    background: #f8f8f8;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -2;
  }
  .summary{
    width: 20%;
    min-width: 220px;
    a{
      padding: 10px 15px;
      color: #333;
      display: block;
      &:hover{
        color: #000;
      }
    }
  }
  .content{
    width: 80%;
    background: #fff;
    min-height: 100vh;
    .content-container{
      max-width: 750px;
      line-height: 1.8rem;
      margin: 0 auto;
    }
    section{
      padding: 1.5rem;
    }
  }
}
